<h2 mat-dialog-title>Update Pokemon with Id {{data.id}}</h2>
<mat-dialog-content>
  <div class="pokemon-edit">
    Pokemon Name: <input type="text" [(ngModel)]='pokemonName' #name value="{{this.data.name}}"><br>     
    Pokemon Type(s): <input type="text" [(ngModel)]='pokemonType' #type value="{{this.data.type}}"><br>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>

  <!-- <button class="btn btn-primary" mat-button [mat-dialog-close]="true" [routerLink]="['/pokemons']" (click)='updatePokemon(this.data.id, this.name.value, this.type.value)'>Update</button> -->
</mat-dialog-actions>