<h1 class="poketext-title">Which pokemon do you want to compare?</h1>

<div>
    <!-- <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type(s)</th>
                <th></th>
            </tr>
        </thead>
            <tbody id="rowClick">                 
                <tr *ngFor="let pokemon of pokemons">
                    <ng-container>
                        <td>{{ pokemon.id }}</td>
                        <td>{{ pokemon.name }}</td>
                        <td>{{ pokemon.types[0].type.name }}<span *ngIf="pokemon.types[1]?.type.name">, </span>{{ pokemon.types[1]?.type.name }}</td>   
                        <td><a class="link"(click)="openCompareModal(this.compare, pokemon.name)">compare</a></td>        
                    </ng-container>
                </tr>
            </tbody> 
        </table> -->

        <select *ngIf="this.compare">
            <option *ngFor="let pokemon of pokemons" [selected]="pokemon.name == this.compare" [value]="pokemon.name" #compareFull>           
                    {{pokemon.name}}               
            </option>
            <option>{{this.compare}}</option>
        </select>
        <select *ngIf="!this.compare" name="pokemon1" id="pokemon1" >
            <option>--Please choose a pokemon--</option>
            <option *ngFor="let pokemon of pokemons" [value]="pokemon.name" #compareEmpty>
                    {{pokemon.name}}
            </option>
        </select>
        To
        <select name="pokemon2" id="pokemon2">
            <option>-- Please choose a pokemon --</option>
            <option *ngFor="let pokemon of pokemons" [value]="pokemon.name" #compareTo>
                    {{pokemon.name}}
            </option>
        </select>
        <button *ngIf="this.compare" class="btn btn-primary" (click)="openCompareModal(compareFull.value, compareTo.value)">Compare</button>
        <button *ngIf="!this.compare" class="btn btn-primary" (click)="openCompareModal(compareEmpty.value, compareTo.value)">Compare</button>
    </div>