<div class="row" style="height: 100vh;">
    <div class="col-3">
      <img src="assets/images/PokemonBannerLeft.png" style="width: 100%; height: 100vh; align-content: flex-start;">
    </div>
    <div class="col-6" style="background-color: rgb(241, 240, 163);" >
        <div class="container">
            <h1 class="poketext-title" style="margin-bottom: 50px; text-align: center;">Welcome to the Pokédex!</h1>

            <h3 class="poketext-subtitle">
                What are you able to do here?
            </h3>
            <p>
                In this application you will be able to navigate to the Pokédex where you will see Pokémon and their id, name and type(s). <br>
                After navigating to the Pokédex page you will be able to favorite Pokémon, or see their details.
                If you are curious about how a Pokémon compares to another, you will be able to compare their stats and see for yourself which Pokémon suits you best!                             
            </p>
            <h3 class="poketext-subtitle">
                Favoriting Pokémon
            </h3>
            <p>
                In the Pokédex page you will be able to see a list of Pokémon, which you will be able to favorite by clicking on the star icon.
                the icon being colored gold will mean you successfully favorited a Pokémon! You will be able to see a list of all your favorite Pokémon by navigating to the favorites page.
                To unfavorite a Pokémon, you can either navigate to the Pokédex page and press on the star icon again which will turn grey when you succesfully unfavorite the selected Pokémon 
                or you can go to the favorites page and remove the Pokémon from there.                        
            </p>
            <h3 class="poketext-subtitle">
                Pokémon Details
            </h3>
            <p>
                To be able to view the details of a certain Pokémon, you will have to navigate to the Pokédex page where you will see a column dedicated only to see the details of that Pokémon.
                When pressed a screen will appear where you will be able to see a small image of the Pokémon along with the Pokémon's name, id, types and you will be able to see a graph that shows its stats.                      
            </p>
            <h3 class="poketext-subtitle">
                Comparing Pokémon
            </h3>
            <p>
                To compare one Pokémon to another Pokémon, you will have to again navigate to the Pokédex page. There will be a column for comparing. You have to press compare on the row of the first Pokémon you wish to compare.
                When you have pressed compare you will be sent to the compare page where you will have to press compare again to choose the second Pokémon you wish to compare. When you have chosen the second Pokémon to compare 
                a screen will appear where you will see their graphs compared to eachother.           
            </p>
                

        </div>
    </div>
    <div class="col-3">
      <img src="assets/images/PokemonBannerRight.png" style="width: 100%; height: 100vh; align-content: flex-end;">
    </div>
  </div>

  <!-- style="background-image: url(assets/images/pokemonfloor.jpg);" -->
  
